/* 
* always include base css to get basic styling for header etc.
*/
@import url(easy-table.css);

.toggledesc{
	float:right;
	margin-right:20px;
}
.action-button{
	margin-bottom:20px
}
.action-button a{
	padding:10px;
	border:1px solid #cccccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	color:#fff;
	font-weight:bold;
	font-size:1.3em;
	display: inline-block;
	text-shadow: 0 -1px 1px rgba(19,65,88,.8);
	text-decoration:none;
}
.action-button a.green{
	background:#48b826;
	border-color:#1d7003;
	background: #b4e391;
	background: -moz-linear-gradient(top, #b4e391 0%, #61c419 50%, #b4e391 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391));
	background: -webkit-linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%);
	background: -o-linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%);
	background: -ms-linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%);
	background: linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%);
}
.action-button a.red{
	background: #f85032;
	background: -moz-linear-gradient(top, #f85032 0%, #f16f5c 35%, #f02f17 71%, #e73827 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(35%,#f16f5c), color-stop(71%,#f02f17), color-stop(100%,#e73827));
	background: -webkit-linear-gradient(top, #f85032 0%,#f16f5c 35%,#f02f17 71%,#e73827 100%);
	background: -o-linear-gradient(top, #f85032 0%,#f16f5c 35%,#f02f17 71%,#e73827 100%);
	background: -ms-linear-gradient(top, #f85032 0%,#f16f5c 35%,#f02f17 71%,#e73827 100%);
	background: linear-gradient(top, #f85032 0%,#f16f5c 35%,#f02f17 71%,#e73827 100%);
	border-color:#cf3100;
}
/*since 1.0

*/
.wrap .form-table tr.beta label,
.wrap .form-table tr.beta .description,
.wrap .form-table tr.beta p,
.wrap .beta 
 {
	color:red !important
}
@media (min-width:1024px) {
	.left,
	.right{
		float:left;
		width:49%
	}
}
@media (max-width:800px) {
	span.description {
		display:block;
	}
}

.easy-table-beta-admin-debug textarea{
	width:100%;
	max-width:100%;
	min-width:100%;
	min-height:150px;
	font-family:monospace
}
.easy-table-beta-admin-debug textarea.info-area{
	min-height:500px;
}
